.footer {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;

    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;

    /*background-color: aqua;*/

    position: fixed;
    bottom: -150px;
    left: 0;

}

.tab, .tab-show{
    width: 49%;
    height: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
}

.tab {
    background-color: white;
    cursor: pointer;
    z-index: 1100;
}
.tab:hover {
    bottom: 5px;
    z-index: 960;

}

.tab-show {
    position: fixed;
    bottom: 30px;
    width: 99.3%;
    height: 95%;
    background-color: rgb(240, 240, 240, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
    z-index: 950;
}


#net-container {
    left: 1px;
}

#unreal-container {
    right: 1px;
}

.footer-title {
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 2px;
    font-size: 2em;
    font-weight: bold;
}
.footer-title:hover {
    top: 10px;
    transform: scale(1.5);
    z-index: 1;
}


.close-button {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%);
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}
.close-button:hover {
    background-color: darkred;
}

.proyect-row {
    display: flex;
    flex-direction: row;
    position: fixed;
    justify-content: center;

    width: 100%;
    height: 0%;
    min-height: 310px;
    padding: 20px;
    gap: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    background-color: rgb(245, 245, 245, 1);
    opacity: 0%;
    animation: openProyectRow 1s forwards 0.9s;
}
@keyframes openProyectRow {
    from {
        opacity: 0%;
        height: 0%;
        min-height: 0px;

    } to {
        opacity: 100%;
        height: 40%;
        min-height: 310px;
    }
}

#center-title {

    align-items: center;
}

.carrousel-component {
    view-timeline-name: --reveal;
    animation-name: show;
    animation-fill-mode: both;
    animation-timeline: --reveal;
    animation-range: entry 25% cover 50%;
}

@keyframes show {
    from {
        opacity: 0; scale: 10%;
    } to {
        opacity: 1; scale: 100%;
    }
}